<form action="http://localhost:4567/battle_form" method="post">
  :player1    <input type="text" name="Player 1">
  :player2    <input type="text" name="Player 2">
              <input type="submit" value="Submit">
</form>
